<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head><body>{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}Snowwhite Laboratories Emergency Interface{% endblock %}

{% block content %}

<div class="container">
    <h2>Snowwhite Laboratories Emergency Interface</h2>
    <a href="puzzle.csv">Puzzle</a>
    {{ wtf.quick_form(form, button_map={'submit_button': 'primary'}) }}
    {{util.flashed_messages()}}
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}</body></html>